@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  scroll-behavior: smooth;
  color-scheme: dark;
}

.heading {
  line-height: 37px;
}

.r-card {
  width: 100%;
  transition: all 300ms ease-in;
}

.r-card:hover {
  scale: 1.025;
  cursor: pointer;
}
/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;

  object-fit: cover;
} */

.bgImg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.84),
      rgba(0, 0, 0, 0.9)
    ),
    url('./assets/nature.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
}

.article1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/FortniteBg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('./assets/valorentBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.article3 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('./assets/destinyBg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.CTA {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('./assets/CTA3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
